<!-- Wrapper -->
          <section id="wrapper">
              <section id="one" class="wrapper spotlight style1">
                <div class="inner">
                  <a href="#" class="image"><%= image_tag 'nasa1.jpg' %></a>
                  <div class="content">
                    <h2 class="major">Mars Rover Control Panel</h2>
                    <p>Explore the unknown with Wall-E and Eve</p>
                    <a href="#" class="special"><span class="glyphicon glyphicon-play"></span>Scroll a bit below</a>
                  </div>
                </div>
              </section>
          

<!-- Two -->
             <section id="footer">
            <div class="inner">
              <h2 class="major">Problem</h2>
              <p>A squad of robotic rovers are to be landed by NASA on a plateau on Mars.

This plateau, which is curiously rectangular, must be navigated by the rovers so that their on board cameras can get a complete view of the surrounding terrain to send back to Earth.
<p>
A rover's position is represented by a combination of an x and y co-ordinates and a letter representing one of the four cardinal compass points (N, S, E or W) . The plateau is divided up into a grid to simplify navigation. An example position might be 0, 0, N, which means the rover is in the bottom left corner and facing North.</p>
<p>
In order to control a rover, NASA sends a simple string of letters. The possible letters are 'L', 'R' and 'M'. 'L' and 'R' makes the rover spin 90 degrees left or right respectively, without moving from its current spot.

'M' means move forward one grid point, and maintain the same heading.

Assume that the square directly North from (x, y) is (x, y+1).</p>
<p>
Input:

The first line of input is the upper-right coordinates of the plateau, the lower-left coordinates are assumed to be 0,0.

The rest of the input is information pertaining to the rovers that have been deployed. Each rover has two lines of input. The first line gives the rover's position, and the second line is a series of instructions telling the rover how to explore the plateau.

The position is made up of two integers and a letter separated by spaces, corresponding to the x and y co-ordinates and the rover's orientation.

Each rover will be finished sequentially, which means that the second rover won't start to move until the first one has finished moving.</p>
<p>
Output:

The output for each rover should be its final co-ordinates and heading.<br />
Test Input:<br />

5 5<br />
1 2 N<br />
LMLMLMLMM<br />

Instructions 2: <br />
3 3 E<br />
MMRMMRMRRM<br />

Expected Output:<br />

1 3 N<br />
5 1 E</p>
            </div>
          </section>

<!-- Footer -->
          <section id="footer">
            <div class="inner">
                <h2 class="major">Control Panel</h2>
                Enter the coordinates and the directions for the rover to move.
                <hr>
                <%= form_tag("/rovers/move") do %>
                  <%= field_set_tag do %>
                      <legend> Plateau's setting </legend>
                      <p>
                        <%= label_tag :plateau_limit %>
                        <%= text_field_tag :plateau_limit, params[:plateau_limit] %> example: 5 5
                      </p>
                  <% end %>
                  <%= field_set_tag do %>
                    <legend> Rover's Move </legend>
                    <div id="rover_move">
                      <div class="rover_input">
                        <p>
                          <%= label_tag :current_position %>
                          <%= text_field_tag :current_position, params[:current_position] %> example: 1 2 N
                        </p>
                        <p>
                          <%= label_tag :move_input %>
                          <%= text_field_tag :inputs, params[:inputs] %> example: LMLMLMLMM
                        </p>
                      </div>
                    </div>
                  <% end %>
                  <%= submit_tag "GO" %>
                <% end %>
              <br />
              <%= render :partial => "result" unless @rover.blank? %>
    </section>